<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>{{pageTitle}}</h1>
      <div>Wine stash description</div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <nav class="nav navbar-nav">
        <a [routerLink]="['Dashboard']">Dashboard</a>
        <a [routerLink]="['Wines']">Wines</a>
      </nav>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <router-outlet></router-outlet>
      <!-- this is a minimal requirement for any sort of routing to occur -->
    </div>
  </div>
</div>